<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="NextEvent - Conference & Event Responsive HTML5 Template" />
<meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
<meta name="author" content="ThemeMascot" />

<title>Hackathon</title>


<link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="css/animate.css" rel="stylesheet" type="text/css"> -->
<link href="public/css/css-plugin-collections.css" rel="stylesheet" />

<link id="menuzord-menu-skins" href="public/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />

<link href="public/css/style-main.css" rel="stylesheet" type="text/css">

<link href="public/css/colors/theme-color.css" rel="stylesheet" type="text/css">

<link href="public/css/preloader.css" rel="stylesheet" type="text/css">

<link href="public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

<link href="public/css/responsive.css" rel="stylesheet" type="text/css">



<link href="public/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
<link href="public/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
<link href="public/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

<script src="public/js/jquery-2.2.0.min.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>

<script src="public/js/jquery-plugin-collection.js"></script>

<script src="public/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="public/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<style>
  .pe-7s-micro:before{
    
    color: white;
  }
  .pe-7s-display1:before{
    color: white;
  }
  .pe-7s-photo-gallery:before{
    color: white;
  }
  .pe-7s-micro{
    background-color:#385c90;
  }
  .pe-7s-display1{
    background-color:#385c90;
  }
  .pe-7s-photo-gallery{
    background-color:#385c90;
  }
</style>


</head>
<body class>
  <div id="wrapper">

    <div id="preloader">
      <div id="spinner">
        <div class="preloader-dot-loading">
          <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
      <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <header class="header">
      <div class="header-nav navbar-fixed-top navbar-dark navbar-transparent navbar-sticky-animated animated-active">
        <div class="header-nav-wrapper">
          <div class="container">
            <nav id="menuzord-right" class="menuzord green">
              <a class="menuzord-brand pull-left flip" href="javascript:void(0)"><img
                  src="images/SAM_PROJECT-removebg-preview.png  " alt></a>
              <ul class="menuzord-menu">
                <li class="active"><a href="#home">Acceuil</a></li>
                <li><a href="index">Evènements</a></li>
                <li><a href="/actuialite">Actualités</a></li>
                <li><a href="#about">A Propos</a></li>
                <li><a href="#contact">Contact</a></li>
      
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
 <!-- ---------------------- partie 1------------- -->
    <div class="main-content">

      <section id="home" class="divider">
        <div class="container-fluid p-0">

          <div class="rev_slider_wrapper">
            <div class="rev_slider" data-version="5.0">
              <ul>

                <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                  data-easein="default" data-easeout="default" data-masterspeed="default"
                  data-thumb="images/bg/bg17.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show"
                  data-description>

                  <img src="images/bg/bg17.jpg" alt data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


                  <div class="tp-caption tp-resizeme text-theme-colored" id="e" data-x="['center']" data-hoffset="['0']"
                    data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']" data-lineheight="['70']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:1000;">Premier événement
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-1-layer-2"
                    data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']"
                    data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 50px;">Mécanisation Durable 
                    Vers l’Avenir
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white" id="rs-1-layer-3" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']"
                    data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 90px;">10-14 septembre, 2024,
                    Safi
                  </div>
                </li>


                  <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                    data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg8.jpg"
                    data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description>



                  <img src="images/bg/bg8.jpg" alt data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


                  <div class="tp-caption tp-resizeme text-theme-colored" id="rs-2-layer-1" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']"
                    data-lineheight="['70']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:1000;">Deuxième événement
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-2-layer-2"
                    data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']"
                    data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 50px;">Révolution Durable en
                    Mécanisation
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white" id="rs-2-layer-3" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']"
                    data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 90px;">02-08 Août, 2024, Safi
                  </div>
                </li>

                <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                  data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg7.jpg"
                  data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description>

                  <img src="images/bg/bg7.jpg" alt data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


                  <div class="tp-caption tp-resizeme text-theme-colored" id="rs-3-layer-1" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']"
                    data-lineheight="['70']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:1000; color:#bbb;">Troisième événement
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-3-layer-2"
                    data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']"
                    data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 50px;">Futur de l'Agriculture
                  </div>

                  <div class="tp-caption tp-resizeme text-center text-white" id="rs-3-layer-3" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']"
                    data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-weight:600;margin-top: 90px;">23-25 Août, 2024, Safi
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <script>
            $(document).ready(function (e) {
              var revapi = $(".rev_slider").revolution({
                sliderType: "standard",
                jsFileLocation: "js/revolution-slider/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  },
                  arrows: {
                    style: "gyges",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: true,
                    hide_delay: 200,
                    hide_delay_mobile: 1200,
                    tmp: '',
                    left: {
                      h_align: "left",
                      v_align: "center",
                      h_offset: 0,
                      v_offset: 0
                    },
                    right: {
                      h_align: "right",
                      v_align: "center",
                      h_offset: 0,
                      v_offset: 0
                    }
                  },
                  bullets: {
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 800,
                    style: "hebe",
                    hide_onleave: false,
                    direction: "horizontal",
                    h_align: "center",
                    v_align: "bottom",
                    h_offset: 0,
                    v_offset: 30,
                    space: 5,
                    tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                  }
                },
                responsiveLevels: [1240, 1024, 778],
                visibilityLevels: [1240, 1024, 778],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [700, 768, 960, 720],
                lazyType: "none",
                parallax: "mouse",
                parallaxBgFreeze: "off",
                parallaxLevels: [2, 3, 4, 5, 6, 7, 8, 9, 10, 1],
                shadow: 0,
                spinner: "off",
                stopLoop: "on",
                stopAfterLoops: 0,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "0",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
                }
              });
            });
          </script>

        </div>
      </section>
    </div>
 <!-- --------fin de partie 1---------------------- -->

    <section id="about">

      <div class="container pt-0">
        <div class="row">
          <div class="box1">
            <div class="moutmir">
              <div class="row mb-70">
                <div class="col-md-12 text-center">
                  <h2 class="title font-48  mt-0 mb-20">AL Moutmir</h2>
                  <p class="mb-20">Lancée en septembre 2018, Al Moutmir est une offre multiservices comprenant des
                    solutions innovantes et personnalisées pour mieux accompagner les agriculteurs et surtout les
                    petits. Cette initiative est axée sur la promotion des meilleures pratiques agricoles, techniques et
                    de gouvernance, et en particulier la fertilisation raisonnée comme véritable levier pour améliorer
                    la productivité et préserver les ressources naturelles.</p>
                  </p>
                  <!-- <a class="btn btn-dark-light btn-lg text-uppercase smooth-scroll font-13 mt-30" href="https://www.almoutmir.ma/">Visiter le site</a> -->
                  <a href="https://www.almoutmir.ma/" class="button" target="_blank">Visiter le site</a>
                </div>
              </div>

            </div>
            <div class="col-md-4 mb-sm-20">
              <div class="about-icon bg-light">
                <i class="icon pe-7s-micro font-32"></i>

                <h4 class="title">intervenants</a></h4>
                <p>Nos ingénieurs et formateurs qualifiés assurent des interventions de haute qualité et un transfert de
                  compétences optimal.</p>
              </div>
            </div>
            <div class="col-md-4 mb-sm-20">
              <div class="about-icon bg-light">
                <i class="icon pe-7s-display1 font-32"></i>
                <h4 class="title">Sessions incroyables</a></h4>
                <p> Nos sessions incroyables offrent une expérience événementielle exceptionnelle et captivante. </p>
              </div>
            </div>
            <div class="col-md-4 mb-sm-20">
              <div class="about-icon bg-light">
                <i class="icon pe-7s-photo-gallery font-32"></i>
                <h4 class="title">Variété d'événements</a></h4>
                <p>Les événements variés enrichissent les expériences et renforcent les interactions sociales</p>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>

<!-- -----------partie devenment------------------------- -->
  <section id="event">
    <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5">
      <div class="container pt-50 pb-50">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="title text-white mb-0">Evénements</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white-light">
      <div class="container pb-80 pt-80">
        <div class="section-content">
          <div class="row">
            <div class="col-md-4 mb-sm-20">
              <div class="event-facilities">
                <div class="thumb">
                  <img class="img" src="../public/images/A.jpg" alt>
                  <div class="overlay">
                    <h4 class="title">1er événement</h4>
                    <p>Mécanisation Durable : Vers l’Avenir</p>
                    <!-- <button class="my-button" >Voir plus:</button> -->
                    <!-- <button id="myButton" class="my-button">Voir plus:</button> -->
                    <!--  go to chart.js for the next page///////////  -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-sm-20">
              <div class="event-facilities">
                <div class="thumb">
                  <img class="img " src="../public/images/B.jpg" alt>
                  <div class="overlay">
                    <h4 class="title">2éme événement.</h4>
                    <p>Révolution Durable en Mécanisation</p>
                    <!-- <button id="myButton" class="my-button">Voir plus:</button> -->

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-sm-20">
              <div class="event-facilities">
                <div class="thumb">
                  <img class="img" src="../public/images/C.jpg" alt>
                  <div class="overlay">
                    <h4 class="title">3éme événement:</h4>
                    <p>Futur de l'Agriculture</p>
                    <!-- <button class="my-button">Voir plus:</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <div class="button-container">
    <!-- <button id="myButton"  class="my-button">Voir plus:</button> -->
  </div>
  <!-- ------------fin de partie evenment------------------------ -->

  <section class="divider parallax test overlay-darkblue" bg-img="images/bg/bg1.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact pt-15 pr-40 pb-15 pl-20">
            <i class="pe-7s-note2 text-black-light mt-5 font-48 pull-left flip" data-text-color="whitesmoke"></i>
            <h2 class="animate-number text-red mt-0 font-48 pull-right flip" data-value="30"
              data-animation-duration="2000">0</h2>
            <div class="clearfix"></div>
            <h4 class="text-uppercase text-right flip font-14" data-text-color="whitesmoke">Evenements</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact pt-15 pr-40 pb-15 pl-20">
            <i class="pe-7s-users text-black-light mt-5 font-48 pull-left flip" data-text-color="whitesmoke"></i>
            <h2 class="animate-number text-red mt-0 font-48 pull-right flip" data-value="859"
              data-animation-duration="2500">0</h2>
            <div class="clearfix"></div>
            <h4 class="text-uppercase text-right flip font-14" data-text-color="whitesmoke">participants</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact pt-15 pr-40 pb-15 pl-20">
            <i class="pe-7s-magic-wand text-black-light mt-5 font-48 pull-left flip" data-text-color="whitesmoke"></i>
            <h2 class="animate-number text-red mt-0 font-48 pull-right flip" data-value="15"
              data-animation-duration="3000">0</h2>
            <div class="clearfix"></div>
            <h4 class="text-uppercase text-right flip font-14" data-text-color="whitesmoke">Sponsores</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact pt-15 pr-40 pb-15 pl-20">
            <i class="pe-7s-global text-black-light mt-5 font-48 pull-left flip" data-text-color="whitesmoke"></i>
            <h2 class="animate-number text-red mt-0 font-48 pull-right flip" data-value="10"
              data-animation-duration="2500"></h2>
            <div class="clearfix"></div>
            <h4 class="text-uppercase text-right flip font-14" data-text-color="whitesmoke">pays
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- -----------partie actualite------------------- -->

  <!-- <section id="news">
    <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5">
      <div class="container pt-50 pb-50">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="title text-white mb-0">Actualités</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider bg-light">
      <div class="container pb-50 pt-80">
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="blog-posts">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post clearfix maxwidth500">
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="images/bg/bg1.jpg" alt class="img-responsive img-fullwidth">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-content p-30 pl-40">
                      <h5 class="entry-title pt-0"><a href="#">Business conferences</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elits. Fugit vel, eius cum eum.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">

                        </ul>
                      </div>
                      <a class="text-theme-colored font-11 mt-10 mb-0 pull-right flip" href="#">Read more <i
                          class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                      <div class="entry-date">
                        25, DEC 2016
                      </div>
                      <div class="author-thumb">
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post clearfix maxwidth500">
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="images/bg/bg1.jpg" alt class="img-responsive img-fullwidth">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-content p-30 pl-40">
                      <h5 class="entry-title pt-0"><a href="#">Business conferences</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elits. Fugit vel, eius cum eum.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">
                        </ul>
                      </div>
                      <a class="text-theme-colored font-11 mt-10 mb-0 pull-right flip" href="#">Read more <i
                          class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                      <div class="entry-date">
                        25, DEC 2016
                      </div>
                      <div class="author-thumb">
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post clearfix maxwidth500">
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="images/bg/bg1.jpg" alt class="img-responsive img-fullwidth">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-content p-30 pl-40">
                      <h5 class="entry-title pt-0"><a href="#">Business conferences</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elits. Fugit vel, eius cum eum.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">

                        </ul>
                      </div>
                      <a class="text-theme-colored font-11 mt-10 mb-0 pull-right flip" href="#">Read more <i
                          class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                      <div class="entry-date">
                        25, DEC 2016
                      </div>
                      <div class="author-thumb">
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post clearfix maxwidth500">
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="images/bg/bg1.jpg" alt class="img-responsive img-fullwidth">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 p-0">
                    <div class="entry-content p-30 pl-40">
                      <h5 class="entry-title pt-0"><a href="#">Business conferences</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elits. Fugit vel, eius cum eum.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">

                        </ul>
                      </div>
                      <a class="text-theme-colored font-11 mt-10 mb-0 pull-right flip" href="#">Read more <i
                          class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                      <div class="entry-date">
                        25, DEC 2016
                      </div>
                      <div class="author-thumb">
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- --------------------fin de partie actualite------------------------------- -->


  <h1 class="title font-48  mt-0 mb-20  " style="text-align: center; padding-top: 50px;">Sponsores</h1>

  <div class="logos">
    <div class="logos-slide">
      <img src="./images/ocp.png" />
      <img src="./images/sidiali.png" />
      <img src="./images/youcode_logo_dark.png" />
      <img src="./images/UM6P-LOGO-111.png" />
      <img src="./images/danon.png" />


    </div>
  </div>

  <script>
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);

  </script>

  <section id="contact" class="bg-light">
    <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5">
      <div class="container pt-50 pb-50">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="title text-white mb-0">Contact</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-uppercase">Envoyez votre message</h4>
          <div class="line-bottom mb-30"></div>

          <!-- <form id="contact_form" name="contact_form" class="form-transparent"
          action="https://html.kodesolution.com/2016/nextevent-html/demo/includes/sendmail.php" method="post"> -->
          <form id="contact-form" class="contact-f" action="https://formspree.io/f/mblrogor" method="POST">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input id="form_name" for="name" name="form_name" class="form-control" type="text"
                    placeholder="Enter Name" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input id="form_email" for="email" name="form_email" class="form-control required email" type="email"
                    placeholder="Enter Email">
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea id="form_message" for="message" name="form_message" class="form-control required" rows="5"
                placeholder="Enter Message"></textarea>
            </div>
            <div class="form-group">
              <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value />
              <button id="myButton" class="my-button">Envoyer</button>

            </div>
          </form>
          <div id="form-message"></div>
          <script type="text/javascript">
            $("#contact_form").validate({
              submitHandler: function (form) {
                var form_btn = $(form).find('button[type="submit"]');
                var form_result_div = '#form-result';
                $(form_result_div).remove();
                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                var form_btn_old_msg = form_btn.html();
                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                $(form).ajaxSubmit({
                  dataType: 'json',
                  success: function (data) {
                    if (data.status == 'true') {
                      $(form).find('.form-control').val('');
                    }
                    form_btn.prop('disabled', false).html(form_btn_old_msg);
                    $(form_result_div).html(data.message).fadeIn('slow');
                    setTimeout(function () { $(form_result_div).fadeOut('slow') }, 6000);
                  }
                });
              }
            });
          </script>
        </div>
      </div>
    </div>
  </section>








<footer id="footer" class="footer" data-bg-color="#121212">
  <div class="container pt-60 pb-30">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="images/SAM_PROJECT-removebg-preview.png" alt>
        <p class="font-12 mt-20 mb-20">SAM Project est une initiative innovante dédiée à l'agriculture, offrant des
          solutions et des outils spécialement conçus pour le secteur agricole. Cet événement met en lumière les
          dernières avancées et meilleures pratiques dans le domaine, tout en facilitant les échanges entre
          professionnels et experts. Rejoignez-nous pour découvrir comment SAM Project peut transformer vos pratiques
          agricoles et améliorer vos résultats.</p>
        <ul class="social-icons flat medium list-inline mb-40">
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Liens rapides</h6>
          <ul class="list-border list theme-colored angle-double-right">
            <li><a href="#">Evenement</a></li>
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Copyright Notice</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Dernières nouvelles</h6>
          <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Révolution Durable en Mécanisation</a></h5>
                <p class="post-date mb-0 font-12">02-08 Août 2024</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Mécanisation Durable : Vers l’Avenir</a></h5>
                <p class="post-date mb-0 font-12">10-14 septembre 2024</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Futur de l'Agriculture</a></h5>
                <p class="post-date mb-0 font-12"> 23-25 Août 2024</p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Etiquettes</h6>
          <ul class="list-inline tags">
            <li><a href="#">Agriculture</a></li>
            <li><a href="#">Technologie</a></li>
            <li><a href="#">OCP</a></li>
            <li><a href="#">Almoutmir</a></li>
            <li><a href="#">YouCode</a></li>
            <li><a href="#">Safi</a></li>
            <li><a href="#">Evenement</a></li>
            <li><a href="#">TechAgri</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">AgriTech</a></li>
            <li><a href="#">Ticket</a></li>
            <li><a href="#">InnovationFermière</a></li>
            <li><a href="#">Agriculture2024</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">FuturDeLAgriculture</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="container-fluid p-20" data-bg-color="#181818">
    <div class="row text-center">
      <div class="col-md-12">
        <p class="font-11 m-0" data-text-color="#555">Copyright &copy;2024 <a class="font-11" href="#">Hackathon</a>.
          All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>


<script src="public/js/custom.js"></script>

<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

<!-- Mirrored from html.kodesolution.com/2016/nextevent-html/demo/index-sp-layout1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Aug 2024 15:19:10 GMT -->
</html>