<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from html.kodesolution.com/2016/nextevent-html/demo/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Aug 2024 15:19:39 GMT -->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="NextEvent - Conference & Event Responsive HTML5 Template" />
  <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
  <meta name="author" content="ThemeMascot" />

  <title>Evénement</title>

  <link href="images/favicon.png" rel="shortcut icon" type="image/png">


  <link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="public/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="public/css/animate.css" rel="stylesheet" type="text/css">
  <link href="public/css/css-plugin-collections.css" rel="stylesheet" />

  <link id="menuzord-menu-skins" href="public/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />

  <link href="public/css/style-main.css" rel="stylesheet" type="text/css">

  <link href="public/css/colors/theme-skin-green.css" rel="stylesheet" type="text/css">

  <link href="public/css/preloader.css" rel="stylesheet" type="text/css">

  <link href="public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

  <link href="public/css/responsive.css" rel="stylesheet" type="text/css">



  <script src="public/js/jquery-2.2.0.min.js"></script>
  <script src="public/js/jquery-ui.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>

  <script src="public/js/jquery-plugin-collection.js"></script>


</head>

<body class>
  <div id="wrapper">

   
    <header class="header">
      <div id="wrapper">

        <div id="preloader">
          <div id="spinner">
            <div class="preloader-dot-loading">
              <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
          </div>
          <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>
    
        <header class="header">
          <div class="header-nav navbar-fixed-top navbar-dark navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
              <div class="container">
                <nav id="menuzord-right" class="menuzord green">
                  <a class="menuzord-brand pull-left flip" href="javascript:void(0)"><img
                      src="images/SAM_PROJECT-removebg-preview.png  " alt></a>
                  <ul class="menuzord-menu">
                    <li class="active"><a href="#home">Acceuil</a></li>
                    <li><a href="#speaker">Evènements</a></li>
                    <li><a href="#schedule">Actualités</a></li>
                    <li><a href="#about">A Propos</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header>
    </header>

    <div class="main-content">
      <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5"
        data-bg-img="images/bg/people-taking-part-high-protocol-event.jpg" style="background-size: cover;">
        <div class="container pt-90 pb-30">

          <div class="section-content pt-100">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title text-white">Evénements</h2>
              </div>
              <div class="col-md-12">
                <ol class="breadcrumb text-center mt-10 white">
                  <li><a href="#">Acceuil</a></l>
                  <li class="active">Evénement</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-solid-color">
        <div class="container pb-80">
          <div class="row">
            <div class="col-md-6 mb-sm-30">
              <!-- <h3 class="sub-title font-28 text-gray-darkgray m-0 mt-0 mt-md-0">Aperçu</h3> -->
              <h2 class="title font-40 text-gray mt-0 mb-20">À propos de la conférence</h2>
              <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi consequuntur
                maxime voluptates earum illo sunt, veritatis maiores doloribus ut id, nostrum. Temporibus odit quas
                illum eos dolores itaque facilis omnis beatae saepe eum. Odit labore vel temporibus quasi.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi consequuntur maxime voluptates
                earum illo sunt, veritatis maiores doloribus ut id, nostrum. Temporibus odit quas illum eos dolores
                itaque facilis omnis beatae saepe eum. Odit labore vel temporibus.</p>
              <a class="btn btn-colored btn-theme-colored btn-flat btn-lg text-uppercase smooth-scroll font-13 mt-30"
                href="#schedule">See Event Schedule</a>
            
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mb-10">
                  <img class="img-fullwidth" src="images/about/4.jpg" alt>
                </div>
                <div class="col-xs-6 col-md-6 pr-5">
                  <img class="img-fullwidth" src="images/about/5.jpg" alt>
                </div>
                <div class="col-xs-6 col-md-6 pl-5">
                  <img class="img-fullwidth" src="images/about/6.jpg" alt>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="schedule">
        <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5"
          data-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-title">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="title text-white mb-0">Event Schedule</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-overlay overlay-light" data-bg-img="images/bg/bg5.jpg">
          <div class="container pt-80 pb-50">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped table-schedule">
                    <thead>
                      <tr>
                        <th style="width: 20%;">Time</th>
                        <th style="width: 55%;">Schedule</th>
                        <th style="width: 25%;">Venue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Registration + Breakfast</strong></td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Inauguration</strong></td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Key Note</strong></td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/6.jpg" alt>
                          <h5 class="title">The Future of CSS</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/1.jpg" alt>
                          <h5 class="title">Sass Map Magic</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/2.jpg" alt>
                          <h5 class="title">Interactive CSS in Email</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/3.jpg" alt>
                          <h5 class="title">Classifying Class Names</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Tea Break</strong></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/4.jpg" alt>
                          <h5 class="title">The Future after Sass and LESS</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/5.jpg" alt>
                          <h5 class="title">Complex Responsive Animations</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Lunch Break</strong></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td>
                          <img class="img-circle speaker-thumb" src="images/testimonials/6.jpg" alt>
                          <h5 class="title">Being a Good Coworker</h5>
                          <h6 class="name">Jacob Doe, <small>abc inc.</small></h6>
                          <span class="toggle-content"><i class="fa fa-plus-square-o"></i></span>
                          <p class="session-details">Lorem ipsum dolor sit amet, te eum graeco partiendo, ei qui iudico
                            accusamus. Amet rebum nostrud has in, movet iisque no qui, ea duo everti ancillae probatus.
                            Odio ignota vix id. Ex est consul contentiones. Nobis facete usu ut, ludus partem
                            deterruisset ei usu. Vel cu fabulas periculis, eu mea percipit probatus consequuntur.</p>
                        </td>
                        <td>Conference Auditorium</td>
                      </tr>
                      <tr>
                        <td>08:30am-10:00am</td>
                        <td><strong>Vote of Thanks</strong></td>
                        <td>Conference Auditorium</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5"
          data-bg-img="images/bg/bg1.jpg">
          <div class="container pt-50 pb-50">
            <div class="section-title">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="title text-white mb-0">Our Speakers</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white-light">
          <div class="container pt-80 pb-50">
            <div class="section-content">
              <div class="row multi-row-clearfix">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/1.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/2.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/3.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/4.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/5.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/6.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/7.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                  <div class="team-member clearfix">
                    <div class="team-thumb"><img alt src="images/team/8.jpg" class="img-fullwidth"></div>
                    <div class="overlay">
                      <div class="content text-center">
                        <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                        <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                      </div>
                    </div>
                    <ul class="social-icons flat icon-white square mt-10">
                      <li class><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                      <li class><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="testimonials" class="divider parallax layer-overlay overlay-deep" data-stellar-background-ratio="0.5"
        data-bg-img="images/bg/bg1.jpg">
        <div class="container pb-30">
          <div class="section-title mb-30">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="font-36 text-theme-colored mb-30">Our Clients Say</h2>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-12 mb-30">
                <div class="testimonial-carousel">
                  <div class="item text-center">
                    <div class="content bg-white-light">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat.</p>
                      <div class="thumb"><img width="75" class="img-circle" alt src="images/testimonials/1.jpg"></div>
                      <h5 class="author text-theme-colored mt-20 mb-0">Catherine Grace</h5>
                      <h6 class="title text-gray mt-0">Designer</h6>
                    </div>
                  </div>
                  <div class="item text-center">
                    <div class="content bg-white-light">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat.</p>
                      <div class="thumb"><img width="75" class="img-circle" alt src="images/testimonials/2.jpg"></div>
                      <h5 class="author text-theme-colored mt-20 mb-0">Catherine Grace</h5>
                      <h6 class="title text-gray mt-0">Designer</h6>
                    </div>
                  </div>
                  <div class="item text-center">
                    <div class="content bg-white-light">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat.</p>
                      <div class="thumb"><img width="75" class="img-circle" alt src="images/testimonials/3.jpg"></div>
                      <h5 class="author text-theme-colored mt-20 mb-0">Catherine Grace</h5>
                      <h6 class="title text-gray mt-0">Designer</h6>
                    </div>
                  </div>
                  <div class="item text-center">
                    <div class="content bg-white-light">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat.</p>
                      <div class="thumb"><img width="75" class="img-circle" alt src="images/testimonials/2.jpg"></div>
                      <h5 class="author text-theme-colored mt-20 mb-0">Catherine Grace</h5>
                      <h6 class="title text-gray mt-0">Designer</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="divider bg-lighter">
        <div class="container pt-70">
          <div class="section-title">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="title text-theme-colored">Sponsors</h2>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row sponsors-style2 pt-30 pb-20">
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/1.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/2.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/3.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/4.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/5.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/6.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/1.png" alt></a>
                  </div>
                  <div class="col-xs-6 col-md-3 text-center">
                    <a href="#"><img src="images/clients/2.png" alt></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="divider layer-overlay overlay-deep">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="featured-gallery">
                <div class="item">
                  <a data-lightbox-gallery="gallery" href="images/portfolio/1.jpg"><img class="img-responsive"
                      src="images/portfolio/1.jpg" alt="featured project" width="476">
                  </a>
                </div>
                <div class="item">
                  <a data-lightbox-gallery="a" href="images/portfolio/2.jpg"><img class="img-responsive"
                      src="images/portfolio/2.jpg" alt="featured project" width="476">
                  </a>
                </div>
                <div class="item">
                  <a data-lightbox-gallery="a" href="images/portfolio/3.jpg"><img class="img-responsive"
                      src="images/portfolio/3.jpg" alt="featured project" width="476">
                  </a>
                </div>
                <div class="item">
                  <a data-lightbox-gallery="b" href="images/portfolio/4.jpg"><img class="img-responsive"
                      src="images/portfolio/4.jpg" alt="featured project" width="476">
                  </a>
                </div>
                <div class="item">
                  <a data-lightbox-gallery="b" href="images/portfolio/5.jpg"><img class="img-responsive"
                      src="images/portfolio/5.jpg" alt="featured project" width="476">
                  </a>
                </div>
                <div class="item">
                  <a data-lightbox-gallery="b" href="images/portfolio/6.jpg"><img class="img-responsive"
                      src="images/portfolio/6.jpg" alt="featured project" width="476">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


  <footer id="footer" class="footer" data-bg-color="#121212">
  <div class="container pt-60 pb-30">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="images/SAM_PROJECT-removebg-preview.png" alt>
        <p class="font-12 mt-20 mb-20">SAM Project est une initiative innovante dédiée à l'agriculture, offrant des
          solutions et des outils spécialement conçus pour le secteur agricole. Cet événement met en lumière les
          dernières avancées et meilleures pratiques dans le domaine, tout en facilitant les échanges entre
          professionnels et experts. Rejoignez-nous pour découvrir comment SAM Project peut transformer vos pratiques
          agricoles et améliorer vos résultats.</p>
        <ul class="social-icons flat medium list-inline mb-40">
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Liens rapides</h6>
          <ul class="list-border list theme-colored angle-double-right">
            <li><a href="#">Evenement</a></li>
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Copyright Notice</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Dernières nouvelles</h6>
          <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Révolution Durable en Mécanisation</a></h5>
                <p class="post-date mb-0 font-12">02-08 Août 2024</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Mécanisation Durable : Vers l’Avenir</a></h5>
                <p class="post-date mb-0 font-12">10-14 septembre 2024</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Futur de l'Agriculture</a></h5>
                <p class="post-date mb-0 font-12"> 23-25 Août 2024</p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h6 class="widget-title line-bottom">Etiquettes</h6>
          <ul class="list-inline tags">
            <li><a href="#">Agriculture</a></li>
            <li><a href="#">Technologie</a></li>
            <li><a href="#">OCP</a></li>
            <li><a href="#">Almoutmir</a></li>
            <li><a href="#">YouCode</a></li>
            <li><a href="#">Safi</a></li>
            <li><a href="#">Evenement</a></li>
            <li><a href="#">TechAgri</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">AgriTech</a></li>
            <li><a href="#">Ticket</a></li>
            <li><a href="#">InnovationFermière</a></li>
            <li><a href="#">Agriculture2024</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">FuturDeLAgriculture</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="container-fluid p-20" data-bg-color="#181818">
    <div class="row text-center">
      <div class="col-md-12">
        <p class="font-11 m-0" data-text-color="#555">Copyright &copy;2024 <a class="font-11" href="#">Hackathon</a>.
          All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>


  <script src="public/js/custom.js"></script>
</body>

<!-- Mirrored from html.kodesolution.com/2016/nextevent-html/demo/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Aug 2024 15:19:39 GMT -->

</html>