body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 20px;
}

#actuialite {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
}

h1 {
  color: #385c90;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #d1902f;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
@media (width <= 1250px) {
  .card-container {
    grid-template-columns: auto;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #d1902f; /* حدود باللون البرتقالي */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.imag {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  color: #385c90; /* عنوان باللون الأزرق */
  font-size: 22px;
  margin: 0;
}

.card-date {
  color: #888;
  font-size: 14px;
  margin: 10px 0;
}

.card-description {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
